.main-block {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__img {
    display: block;
    width: calc(100% + 24px);
    margin-inline: -12px;
    padding-block: 110px;

    @include on-tablet {
      width: 100%;
      margin-inline: 0;
      padding-block: 140px;
    }

    @include on-desktop {
      width: 846px;
      padding-block: 170px;
    }
  }
}
