.menu {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  background-color: $background-color;

  &__top {
    display: flex;
    justify-content: space-between;

    @include on-tablet {
      height: 74px;
    }
  }

  &__content {
    overflow: auto;
    flex: 1;
    min-height: 0;
  }

  &__bottom {
    flex: 0 0 auto;
    margin-top: auto;
    margin-bottom: 30px;
  }
}
