.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  background-color: $background-color;

  &__top {
    display: flex;
    justify-content: space-between;

    @include on-tablet {
      height: 74px;
    }
  }

  &__content {
    flex: 1;
    min-height: 0;
    box-sizing: border-box;
  }

  &__bottom {
    flex: 0 0 auto;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
}

