.page {
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
  background: $background-color;

  &__body {
    min-width: 320px;
    margin: 0;

    @include on-tablet {
      padding-block: 30px;
    }
  }

  &__menu {
    pointer-events: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);

    opacity: 0;

    transition: all 500ms;

    &:target {
      pointer-events: all;
      transform: translateX(0);
      opacity: 1;
    }
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
