.questions {
  @include page-grid;

  gap: 30px 0;
  width: 100%;

  @include on-tablet {
    gap: 0 20px;
  }

  @include on-desktop {
    gap: 0 30px;
  }

  &__title {
    grid-column: 1 / -1;

    &--mobile {
      display: block;
    }
    &--tablet {
      display: none;
    }

    @include on-tablet {
      grid-column: span 4;
      &--mobile {
        display: none;
      }
      &--tablet {
        display: block;
      }
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__form {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;

    @include on-tablet {
      grid-column: 5 / -1;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }

    &--specs {
      box-sizing: border-box;
      height: 48px;
      padding: 12px 20px;
      border: 1px solid $border-color;

      color: $main-text-color;

      background: $background-color;

      &::placeholder {
        color: $tertiary-light-text-color;
      }

      &:valid {
        border-color: $border-color;
        color: $main-text-color;
      }

      &:focus {
        border-color: $accent-dark-color;
        outline: none;

        &:valid {
          border-color: $accent-dark-color;
          outline: none;
        }

        &invalid:not(:placeholder-shown) {
          border-color: $accent-dark-color;
          outline: none;
        }
      }

      &:invalid:not(:placeholder-shown) {
        border-color: $border-error-color;
        color: #eb57574d;
      }
    }
    &--textarea {
      resize: none;
      box-sizing: border-box;
      height: 128px;
      margin-block: 20px 30px;

      &:valid {
        border-color: $border-color;
        color: $main-text-color;
      }

      &:focus:invalid {
        border-color: $border-error-color;
        color: #eb5757;
      }

      @include on-tablet {
        height: 201px;
      }

      @include on-desktop {
        height: 128px;
      }
    }
  }

  &__button {
    cursor: pointer;

    width: 102px;
    height: 40px;
    border: none;

    color: #fff;

    background-color: $accent-lignt-color;

    transition:
      background-color 0.2s,
      opacity 0.2s;

    @include on-desktop {
      width: 124px;
      height: 48px;
    }
  }

  &__form .questions__button {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #cfeff0;
  }

  &__form:valid .questions__button {
    pointer-events: auto;
    cursor: pointer;
    background-color: #39bebf;
  }

  &__form:valid .questions__button:hover {
    background-color: #0c797a;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid $accent-dark-color;
  -webkit-box-shadow: 0 0 0 1000px $background-color inset;
  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: $main-text-color;
}
