.testimonilas {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(/src/images/vector.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 208px 171px;

  @include on-tablet {
    background-size: 233px 189px;
  }

  @include on-desktop {
    width: 786px;
    background-size: 233px 192px;
  }

  &__text {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;

    @include on-tablet {
      width: 100%;
      padding-top: 60px;
      padding-bottom: 40px;
    }

    @include on-desktop {
      padding-top: 42px;
      padding-bottom: 30px;
    }
  }

  &__name {
    padding-block: 10px 5px;

    @include on-tablet {
      padding-block: 20px 5px;
    }
  }
}
