@import './utils/vars';
@import './utils/mixins';
@import 'typography';

@import './blocks/top-bar';
@import './blocks/header';
@import './blocks/page';
@import './blocks/presentation';
@import './blocks/nav';
@import './blocks/benefits';
@import './blocks/main-block';
@import './blocks/about-us';
@import './blocks/testimonilas';
@import './blocks/features';
@import './blocks/questions';
@import './blocks/footer';
@import './blocks/menu';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
