@import './utils/mixins';

h1 {
  // @extend %h1;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: $main-text-color;
  text-transform: uppercase;

  @include on-tablet {
    font-size: 48px;
    line-height: 62px;
  }

  @include on-desktop {
    font-size: 62px;
    line-height: 78px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: $main-text-color;
  text-transform: uppercase;

  @include on-tablet {
    font-size: 36px;
    line-height: 46px;
  }

  @include on-desktop {
    font-size: 56px;
    line-height: 70px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: $main-text-color;
  text-transform: uppercase;

  @include on-tablet {
    font-size: 24px;
    line-height: 30px;
  }

  @include on-desktop {
    font-size: 34px;
    line-height: 42px;
  }
}

h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: $main-text-color;
  text-transform: uppercase;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: $main-text-color;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: $main-text-color;
  text-transform: uppercase;
}

.button_text {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}

.main_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $main-text-color;
}

.secondary_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.tertiary_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;

  // color: $tertiary-dark-text-color;
}

.quote {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  @include on-tablet {
    font-size: 24px;
    line-height: 36px;
  }
}
