$main-text-color: #333;
$secondary-text-color: #7c7c7c;
$tertiary-dark-text-color: #4f4f4f;
$tertiary-light-text-color: #bdbdbd;
$hover-black-color: #131313;
$hover-disabledgrey-color: #d0d0d0;
$border-color: #828282;
$border-error-color: #eb5757;
$accent-lignt-color: #0db2b3;
$accent-dark-color: #0c797a;
$accent-disabled-color: #eefafa;
$background-color: #f7f7f7;
$background-accent-color: #d6ecec;
$background-disabled-color: #cfeff0;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$content-max-width: 1440px;
$header-height-tablet: 48px;
$header-height-mobile: 76px;
